/* Стилизация */
body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

a {
	color: #ffffff;
	text-decoration: none;
}
.button:not(.form-button):not(.slide-button) {
	font-size: 18px;
  	line-height: 24px;
  	font-weight: bold;
  	color: #ffffff;
	text-align: center;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	padding: 12px 22px;

  	background-image: linear-gradient(to bottom, #f26843 , #e74a35);
  	border-radius: 50px;
  	border: none;
  	box-shadow: 0 2px 2px rgba(85,8,0,.54);

  	cursor: pointer;
}
.button:not(.form-button):hover,
.button:not(.form-button):focus {
	background-image: linear-gradient(to bottom, #f58669 , #ec6f5e);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.button:not(.form-button):active {
	background-image: linear-gradient(to bottom, #e74b36 , #f26843);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}



.site-wrapper {
	min-width: 940px;
	background-color: #849d8f;
  	background-image: url(../img/slider-item1.png);
  	background-repeat: no-repeat;
  	background-position-x: center;
  	background-position-y: 83px; 

  	transition: background-image 0.5s ease, background-color 0.5s ease; 
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}
.slider {
	position: relative;

	padding-top: 321px;

	text-align: center;
	color: #ffffff;
}
.slider-list {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;

	list-style: none;
}
.slide {
	display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}
.slider-controls {
  position: absolute;
  bottom: 15px;
  left: 27px;
  z-index: 20;
  
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slider-item1.png);
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url(../img/slider-item2.png);
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/slider-item3.png);
}
.inner-page {
	background-color: #849d8f;
}
.container { 
	position: relative;
	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;
}
.main-navigation {
	display: flex;
	justify-content: flex-start;

	flex-wrap: wrap;
}
.main-nav-logo {
	width: 154px;
	height: 64px;
	margin-right: 10px;
	margin-top: 10px; 
}

.site-navigation,
.user-navigation,
.catalog-navigation,
.catalog-list,
.features-list,
.social-list,
.documentation-list,
.breadcrumbs,
.pagination-list {
  list-style: none;
}

.site-navigation {
	position: relative;

	flex-grow: 1;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-wrap: wrap;
	
	width: 400px;
	margin: 23px 0;
	padding-left: 0;
}
.site-navigation-item,
.user-navigation-item {
	padding-bottom: 10px;
}
.site-navigation-link {
	display: block;
	padding: 7px 15px;

	font-size: 16px;
  	line-height: 18px;
  	font-weight: bold;
  	color: #ffffff;

  	text-decoration: underline;
}
.site-navigation-link:hover,
.site-navigation-link:focus,
.user-navigation-link:hover,
.user-navigation-link:focus {
  	color: #323232;
  	background-color: #f7f6f3;
  	text-decoration: none;
  	border-radius: 50px;
}
.site-navigation-link:active,
.user-navigation-link:active {
	box-shadow: 0 -1px 1px rgba(85,8,0,.5);
}
.site-navigation-item:hover .catalog-navigation,
.site-navigation-item:focus .catalog-navigation {
	display: flex;
	flex-direction: column;
}
.catalog-navigation {
	position: absolute;
	top: 37px;
	left: -5px;
	z-index: 1;

	display: none;
	width: 143px;
	margin: 0;
  	padding: 0;

  	background-color: #f8f7f4;
  	border-radius: 5px;
  	box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
.catalog-navigation-link {
	display: block;

	padding: 10px 10px 10px 20px; 

	font-size: 14px;
  	line-height: 16px;
  	font-weight: 400;
  	color: #323232;
	
  	text-decoration: none;
}
.catalog-navigation-item:first-child .catalog-navigation-link {
	font-weight: bold;
	border-top-right-radius: 5px;
  	border-top-left-radius: 5px;
}
.catalog-navigation-item:last-child .catalog-navigation-link {
	border-bottom-right-radius: 5px;
  	border-bottom-left-radius: 5px;
}
.catalog-navigation-item:first-child .catalog-navigation-link::after {
	content: "";
	display: block;
	position: absolute;
	top: 35px;
	left: 5px;

	width: 128px;
	height: 1px;
	
	background: rgba(32,32,32,0.2);
}
.catalog-navigation-link:hover,
.catalog-navigation-link:focus {
  	background-color: #fbded7;
  	border-radius: 0;
}
.catalog-navigation-link:active {
	background-color: #f6b5a5;
}
.site-navigation-current,
.catalog-navigation-current {
	background-color: #d07058;
	text-decoration: none;
}

.user-navigation {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	
	width: 277px;
	margin: 23px 0;
	padding: 0;

	font-size: 14px;
  	line-height: 16px;
  	font-weight: 500;
  	color: #ffffff;
}
.user-navigation-item {
	position: relative;
}
.user-navigation-link {
	display: block;
	
	margin-left: 10px;

	background-color: rgba(255,255,255,0.2);
	border-radius: 25px;
}
.search {
	font-size: 14px;
  	line-height: 24px;
  	font-weight: 400;
  	color: #999999;
}
.search-link {
	position: relative;
	font-size: 0;

	padding: 4px 16px;
}
.search-link::before {
	position: absolute;
	left: 7px;
	top: 7px;

	content: "";
	background-image: url(../img/loupe.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 17px;
	height: 17px;
}
.search-link:hover::before,
.search-link:focus::before {
	background-image: url(../img/loupe-hover.svg);
}
.search:hover .search-form {
	display: flex;
}
.search-form {
	position: absolute;
	top: 37px;
	right: 0;
	z-index: 1;
	
	display: none;
	justify-content: center;
	margin: 0;
	padding: 20px 15px;

	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
.search-form .form-row {
 	position: relative;
 	margin: 0;
}
.search-input {
	display: inline-block;
	width: 310px;
	min-height: 45px;
	margin: 0;
	padding: 0 15px;
}
.search-input:focus + .search-label {
	top: -17px;
	color: black;
	font-size: 12px;
	line-height: 18px;
}
.search-input:not(:placeholder-shown) + .search-label {
	display: none;
}
.search-label {
	position: absolute;
	top: 10px;
	left: 20px;
}

.enter-link {
	position: relative;
	
	padding: 8px 17px 8px 43px;
}
.enter-link::before {
	position: absolute;
	bottom: 7px;
	left: 16px;

	content: "";
	background-image: url(../img/enter.svg);
	
	width: 21px;
	height: 19px;
}
.enter-link:hover::before,
.enter-link:focus::before {
	background-image: url(../img/enter-hover.svg);
}
.enter:hover .enter-form {
	display: flex;
}
.enter-form {
	position: absolute;
	top: 37px;
	right: 0;
	z-index: 1;

	display: none;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 257px;
	padding: 20px;


	font-size: 14px;
  	line-height: 24px;
  	font-weight: 400;
  	color: #999999;

  	background-color: #f8f7f4;
  	border-radius: 5px;
	box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
.enter-form .form-row {
 	position: relative;
 	margin: 0;
 	margin-bottom: 20px;
}
.enter-email-input,
.enter-password-input {
	display: inline-block;
	width: 225px;
	min-height: 44px;
	margin: 0;
	padding: 0 15px;
}
.enter-email-input:hover,
.enter-password-input:hover,
.enter-email-input:focus,
.enter-password-input:focus {
	width: 223px;
	min-height: 42px;
}
.enter-email-label,
.enter-password-label {
	position: absolute;
	top: 12px;
	left: 20px;
}
.enter-email-input:focus + .enter-email-label,
.enter-password-input:focus + .enter-password-label {
	top: -17px;
	color: black;
	font-size: 12px;
	line-height: 18px;
}
.enter-email-input:not(:placeholder-shown) + .enter-email-label,
.enter-password-input:not(:placeholder-shown) + .enter-password-label {
	display: none;
}
.form-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.form-block .form-row {
	display: flex;
	flex-direction: column;
	margin: 0;
}
.form-block .button {    /* Почему не переопределяет ? */
	padding: 12px 30px;
}
.enter-form-link {
	display: inline-block;
	width: 125px;

	font-size: 13px;
  	line-height: 24px;
  	font-weight: 400;
  	color: #323232;
	text-decoration: underline;
}
.enter-form-link:hover,
.enter-form-link:focus {
	color: #e84d37;
}






.basket > a {
	position: relative;
	
	padding: 8px 17px 8px 44px;
}
.basket a::before {
	position: absolute;
	bottom: 7px;
	left: 15px;

	content: "";
	background-image: url(../img/basket.svg);
	
	width: 21px;
	height: 20px;
}
.basket a:hover::before,
.basket a:focus::before {
	background-image: url(../img/basket-hover.svg);
}
.inner-page .basket a::before {
	background-image: url(../img/basket-hover.svg);
}
.call {
	display: inline-block;
	
	margin: 0;
	margin-left: 979px;

	font-size: 22px;
  	line-height: 24px;
  	font-weight: bold;
  	color: #ffffff; 
  	text-align: right;
	
	width: 167px;
	text-align: right;
}
.call span:first-child {
	font-size: 14px;
  	line-height: 16px;
}


.slide-button {
	display: inline-block;
  	padding: 12px 44px;
	
	font-size: 31px;
	line-height: 41px;
  	font-weight: 600;
  	text-align: center;
  	color: #ffffff;
  	vertical-align: top;
  	text-decoration: none;
  	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  	background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;

    cursor: pointer;
}
.breadcrumbs {
	display: flex;

	font-size: 14px;
  	line-height: 16px;
  	font-weight: 400;
  	color: #ffffff;
}
.form-item {
	border-style: none;
}
.legend {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	font-weight: medium;

	margin-bottom: 5px;
}
.inner-page .filters .form-row {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 400;

	background-color: #9db1a5;

	border-style: none;
	border-radius: 25px;

	margin: 0;
	padding: 10px;
}
.form-button {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;

	border: 2px solid #fbfcfb;
	border-radius: 25px;
	background-color: #9cb0a4;
	
	margin-top: 25px;
	padding: 5px 25px;
}
.form-button:hover,
.form-button:focus {
	color: #323232;
	background-color: #fbfcfb;
}
.form-button:active {
	background-color: #eaeaea;
}
.stock {
	display: flex;
	justify-content: space-between;

	font-size: 18px;
  	line-height: 22px;
  	font-weight: bold;
  	color: #ffffff;
}
.stock h3 {
	display: inline-block;
	font-size: 35px;
  	line-height: 41px;
  	font-weight: bold;
  	color: #ffffff;
  	margin: 18px;
}
.stock p {
	margin: 0 20px 35px 20px;
}
.stock-jam,
.stock-topping {
	position: relative;
}
.stock-jam .button {
	display: inline-block;
	margin-left: 375px;
}
.stock-topping .button {
	display: inline-block;
	margin-left: 350px;
}
.stock-jam {
	width: 560px;
	min-height: 230px;
	background: #772b3b url(../img/raspberries-background.jpg) no-repeat;
}
.stock-topping {
	width: 560px;
	min-height: 230px;
	background: #772b3b url(../img/chocolade-background.jpg) no-repeat;
}
.catalog {
	font-size: 16px;
  	line-height: 22px;
  	font-weight: bold;
  	color: #ffffff;
  	text-align: center;
}
.catalog-list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 20px 0;
	padding: 0;
}
.catalog-item {
	position: relative;
	z-index: 1;

	width: 267px;
	margin-right: 26px;
}
.catalog-item:nth-child(4n) {
	margin-right: 0;
}
.catalog-item:hover .catalog-item-image::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 9px;
	left: -13px;
	display: block;
	width: 293px;
	height: 427px;
	
	border-radius: 5px;
	background-color: rgba(255,255,255,0.2);
	box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
.hit-image::before {
	position: absolute;
	content: "";
	top: 10px;
	left: 10px;

	background-image: url(../img/hit.svg);

	width: 61px;
	height: 61px;
}
.catalog b {
	position: absolute;
	left: 0;
	top: 226px;

	font-size: 45px;
  	line-height: 45px;
  	font-weight: bold;
  	color: #ffffff;
}
.catalog a {
	text-decoration: underline;
}
.catalog small {
	font-size: 30px;
  	line-height: 45px;
  	font-weight: bold;
  	color: #ffffff;
}
.catalog img {
	border-radius: 50%;
}
.catalog-image a {
	display: inline-block;
	vertical-align: middle;

	width: 267px;
	height: 270px;
}
.catalog-button {
	position: absolute;
	z-index: 2;
	bottom: -50px;
	left: 30px;
	display: none;
}
.catalog-item:hover .catalog-button {
	display: flex;
	justify-content: center;
	text-decoration: none;
}
.features b {
	display: inline-block;

	font-size: 24px;
  	line-height: 30px;
  	font-weight: medium;
  	color: #323232;
  	padding: 20px;
}
.features {
	padding: 0;

	font-size: 16px;
  	line-height: 22px;
  	font-weight: 400;
  	color: #323232;

  	background: #e4d8bd url(../img/wafer-pattern.jpg) repeat;
  	border-radius: 15px;
}
.features-list {
	display: flex;
	flex-wrap: wrap;
	
	margin: 0;
}
.features-item {
	position: relative;
	
	margin: 0;
	padding: 5px 0 15px 40px;
	width: 480px;
}
.features-item:nth-child(2n) {
	padding-left: 80px;
}
.icecream-logo::before {
	position: absolute;
	content: "";
	left: -15px;
	top: -10px;

	background-image: url(../img/icecream.svg);

	width: 49px;
	height: 49px;
}
.cow-logo::before {
	position: absolute;
	content: "";
	left: 22px;
	top: -10px;

	background-image: url(../img/cow.svg);
	
	width: 49px;
	height: 49px;
}
.leaf-logo::before {
	position: absolute;
	content: "";
	left: -15px;
	top: -10px;

	background-image: url(../img/leaf.svg);

	width: 49px;
	height: 49px;
}
.thermometer-logo::before {
	position: absolute;
	content: "";
	left: 22px;
	top: -10px;

	background-image: url(../img/thermometer.svg);

	width: 49px;
	height: 49px;
}
.blog {
	width: 560px;
	padding: 0;

	background: #ffffff url(../img/strawberry-background.jpg) no-repeat;
	border-radius: 15px;
}
.blog {
	border-radius: 15px;
}
.blog h3 {
	font-size: 16px;
  	line-height: 22px;
  	font-weight: 500;
  	color: #323232;

  	margin: 20px;
}
.blog p {
	width: 300px;
	padding: 0 20px;
}
.blog a {
	font-size: 24px;
  	line-height: 30px;
  	font-weight: bold;
  	color: #323232;

  	text-decoration: underline;
}
.blog a:hover,
.blog a:focus,
.blog a:active {
	color: #e84d37;
}
.subscription {
	width: 560px;
	padding: 0;

	font-size: 16px;
  	line-height: 22px;
  	font-weight: 400;
  	color: #5a5a5a;

	background-image: repeating-linear-gradient(135deg, #f8f7f4 0, #f8f7f4 5px, #92cdff 5px, #92cdff 10px, #f8f7f4 10px, #f8f7f4 15px, #fe9e90 15px, #fe9e90 20px);
	border-radius: 15px;
}
.subscription-content {
	margin: 5px;
	padding: 20px; 

	background-color: #f8f7f4;
	border-radius: 15px;
}
.subscription-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.subscription .form-row {
	position: relative;
	display: flex;
	align-items: center;

	margin: 0;
	padding: 10px 0;
}
.subscription-label {
	position: absolute;
	left: 15px;

	color: #999999;
}
.subscription-input {
	display: inline-block;

	width: 333px;
	min-height: 45px;

	padding: 0 15px;

	font-family: inherit;
  	font-size: inherit;
  	line-height: inherit;
}
.subscription-input:hover,
.subscription-input:focus {
	width: 331px;
	min-height: 43px;
}
.subscription-input:focus + .subscription-label {
	top: -10px;
	color: black;
	font-size: 12px;
	line-height: 18px;
}
.subscription-input:not(:placeholder-shown) + .subscription-label {
	display: none;
}
.main-map {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 40px;
	margin-left: -27px;

	width: 1200px;
	min-height: 430px;
	
	background: #e9e3cb url(../img/map.jpg) no-repeat;
}
.main-map::before {
	position: absolute;
	content: "";

	background-image: url(../img/pin.svg);

	left: 266px;
	top: 138px;

	width: 80px;
	height: 140px;
}
.call-feedback {
	margin-right: 27px;
	padding: 30px 25px;
	border-radius: 15px;

	width: 263px;

	font-size: 14px;
  	line-height: 20px;
  	font-weight: 400;
  	color: #323232;

	background-color: #fcfcfc;
}
.call-feedback p {
	width: 205px;
	margin: 0;
	padding: 5px 0;
}
.call-feedback p:nth-of-type(2n) {
	width: 225px;

	font-size: 18px;
  	line-height: 24px;
  	font-weight: bold;
  	color: #323232;

  	padding-top: 0;
}
.call-feedback .button {
	margin-top: 20px;
}
.pagination-list {
	display: flex;
	width: 195px;
	margin-top: 90px;

	font-size: 16px;
  	line-height: 18px;
  	font-weight: medium;
  	color: #ffffff;
}
.pagination-item {
	border-radius: 50%;
  	padding: 5px 10px;
  	margin-left: 10px;
}
.pagination-item-current a {
	color: #323232;
	background-color: #ffffff;
}
.pagination-item:hover,
.pagination-item:focus {
	color: #ffffff;
	background-color: #99aea2;
}
.pagination-item:active {
	color: #323232;
	background-color: #ffffff;
}
.main-footer {
	font-size: 12px;
  	line-height: 18px;
  	font-weight: 400;
  	color: #ffffff;
}
.main-footer .container {
	display: flex;
	justify-content: space-between;

	padding: 18px 0;
}
.social-list {
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	width: 267px;
}
.social-button {
	width: 49px;
	min-height: 49px;
}
.social-button a {
	position: relative;
	font-size: 0;
	margin-right: 49px;
}
.twitter::before {
	content: "";
	position: absolute;
	
	background-image: url(../img/twitter.svg);
	box-shadow: 
		0 0 0 3px rgba(255,255,255,0.5), 
		inset 0 0 0 1px rgba(255,255,255,0.5);
	border-radius: 50%;

	width: 32px;
	height: 32px;

	opacity: 0.8;
}
.twitter:hover::before,
.twitter:focus::before {
	opacity: 1;
}
.twitter:active::before {
	opacity: 0.7;
}
.instagram::before {
	content: "";
	position: absolute;
	
	background-image: url(../img/instagram.svg);
	box-shadow: 
		0 0 0 3px rgba(255,255,255,0.5), 
		inset 0 0 0 1px rgba(255,255,255,0.5);
	border-radius: 50%;

	width: 32px;
	height: 32px;

	opacity: 0.8;
}
.instagram:hover::before,
.instagram:focus::before {
	opacity: 1;
	box-shadow: 
		0 0 0 3px rgba(255,255,255,0.7), 
		inset 0 0 0 1px rgba(255,255,255,0.7);
}
.instagram:active::before {
	opacity: 0.7;
}
.facebook::before {
	content: "";
	position: absolute;
	
	background-image: url(../img/facebook.svg);
	box-shadow: 
		0 0 0 3px rgba(255,255,255,0.5), 
		inset 0 0 0 1px rgba(255,255,255,0.5);
	border-radius: 50%;

	width: 32px;
	height: 32px;

	opacity: 0.8;
}
.facebook:hover::before,
.facebook:focus::before {
	opacity: 1;
	box-shadow: 
		0 0 0 3px rgba(255,255,255,0.7), 
		inset 0 0 0 1px rgba(255,255,255,0.7);
}

}
.facebook:active::before {
	opacity: 0.7;
}
.vk::before {
	content: "";
	position: absolute;
	
	background-image: url(../img/VK.svg);
	box-shadow: 
		0 0 0 3px rgba(255,255,255,0.5), 
		inset 0 0 0 1px rgba(255,255,255,0.5);
	border-radius: 50%;

	width: 32px;
	height: 32px;

	opacity: 0.8;
}
.vk:hover::before,
.vk:focus::before {
	opacity: 1;
}
.vk:active::before {
	opacity: 0.7;
	box-shadow: 
		0 0 0 3px rgba(255,255,255,0.7), 
		inset 0 0 0 1px rgba(255,255,255,0.7);
}
.documentation-list a,
.copyright a {
	text-decoration: underline;
}
.documentation-list a:hover,
.documentation-list a:focus,
.copyright a:hover,
.copyright a:focus {
	color: #ffbc9e;
}
.documentation {
	display: flex;
	justify-content: center;
	width: 560px;
	min-height: 50px;
}
.documentation-list {
	display: flex;
	flex-wrap: wrap;
	align-content: center;

	width: 340px;
	padding: 0;

	font-size: 13px;
  	line-height: 18px;
  	font-weight: 400;
  	color: #ffffff;
}
.documentation-list li:first-of-type {
	position: relative;
	
	font-weight: bold;
}
.documentation-list li:first-of-type::before {
	position: absolute;
	content: "";

	top: 3px;
	left: 8px;

	background-image: url(../img/heart.svg);

	width: 15px;
	height: 13px;
}
.documentation-list a {
	padding-left: 30px;
}
.copyright {
	display: flex;
	justify-content: flex-end;
	width: 267px;
}
.copyright p {
	margin: 0px; 
}
.modal-feedback {
	position: absolute;
	top: 340px;
	left: 50%;

	display: none;
	flex-direction: column;
	width: 428px;
	margin-left: -239px;
	padding: 25px;

	font-size: 16px;
  	line-height: 24px;
  	font-weight: 400;
  	color: #999999;

  	background-color: #f8f7f4;
  	border-radius: 10px;
	box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
.modal-feedback h3 {
	display: block;
	margin: 0;
	margin-bottom: 20px;

	font-size: 24px;
  	line-height: 28px;
  	font-weight: medium;
  	color: #323232;
}
.modal-close {
	position: absolute;
	right: 15px;
	top: 15px;
	
	width: 25px;
	height: 25px;
	border: 0;
	padding: 0;

	background-color: transparent;

	cursor: pointer;
}
.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 12px;
  left: 1px;

  width: 22px;
  height: 2px;

  background-color: #231f20;
}
.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
.modal-form .form-row {
	position: relative;
	margin: 0;
	margin-bottom: 20px;
}
.modal-name-input,
.modal-email-input {
	display: inline-block;
	width: 239px;
	min-height: 44px;

	margin: 0;
	padding: 0 14px;
}
.modal-name-input:hover,
.modal-email-input:hover,
.modal-name-input:focus,
.modal-email-input:focus {
	width: 237px;
	min-height: 42px;

}
.modal-name-label,
.modal-email-label {
	position: absolute;
	top: 10px;
	left: 15px;
}
.modal-name-input:focus + .modal-name-label,
.modal-email-input:focus + .modal-email-label {
	top: -17px;
	color: black;
	font-size: 12px;
	line-height: 18px;
}
.modal-name-input:not(:placeholder-shown) + .modal-name-label,
.modal-email-input:not(:placeholder-shown) + .modal-email-label {
	display: none;
}
.modal-textarea {
	display: inline-block;
	width: 395px;
	min-height: 120px;
	
	margin-bottom: 20px;
	padding: 15px;

	overflow: auto;
}
.modal-textarea:hover,
.modal-textarea:focus {
	width: 393px;
	min-height: 118px;
}
.modal-button {
	float: right;
}









.main-navigation input,
.subscription input,
.modal-feedback input,
.modal-feedback textarea {
  	border: 1px solid #d3d3d2;
  	border-radius: 5px;
}
.main-navigation input:hover,
.subscription input:hover,
.modal-feedback input:hover,
.modal-feedback textarea:hover {
  	border: 2px solid #c7c6c5;
}
.main-navigation input:focus,
.subscription input:focus,
.modal-feedback input:focus,
.modal-feedback textarea:focus {
  	border: 2px solid #8fbdec;
  	outline: none;
}



/* На время, мне так проще сетки строить */

.visually-hidden {
	position: absolute;

  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;

  	white-space: nowrap;

  	clip-path: inset(100%);
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}

.basket-modal {
	display: none;
}




/* Сетки */
.filters {
	width: 879px;
	height: 135px;
}
.filters-form {
	display: flex;
	flex-wrap: wrap;
}
.blocks {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
.stock-jam {
	border-radius: 16px;
}
.stock-topping {
	border-radius: 16px;
}
.main-footer .container {
	display: flex;
	justify-content: space-between;

	padding: 18px 0;
}