/* Стилизация */
body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #849d8f;
}

a {
	color: #ffffff;
	text-decoration: none;
}

.site-navigation,
.user-navigation,
.catalog-navigation,
.catalod-list,
.features-list,
.social-list,
.documentation-list,
.breadcrumbs,
.pagination-list {
  list-style: none;
}

.site-navigation {
	font-size: 16px;
  	line-height: 18px;
  	font-weight: bold;
  	color: #ffffff;  
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  	color: #323232;
  	background-color: #f7f6f3;
  	text-decoration: none;
}
.catalog-navigation {
	font-size: 14px;
  	line-height: 16px;
  	font-weight: 400;
  	color: #323232;
  	background-color: #f7f6f3;
}
.catalog-navigation li:first-child {
  	font-weight: bold;
}
.catalog-navigation a:hover,
.catalog-navigation a:focus {
  	background-color: #fbded7;
}
.catalog-navigation a:active {
	background-color: #f6b5a5;
}
.site-navigation-current,
.catalog-navigation-current {
	background-color: #d07058;
	text-decoration: none;
}
.user-navigation {
	font-size: 14px;
  	line-height: 16px;
  	font-weight: medium;
  	color: #ffffff;
}
.search, {
	font-size: 14px;
  	line-height: 24px;
  	font-weight: 400;
  	color: #999999;
}
.search a {
	font-size: 0;
}
/*
.search::before {
	content: "";
	background: #fdfdfd url(../img/loupe.svg) no-repeat;

	width: 17px;
	height: 17px;
}
*/
.enter-form {
	font-size: 14px;
  	line-height: 24px;
  	font-weight: 400;
  	color: #999999;
}
.enter-form a {
	font-size: 13px;
  	line-height: 24px;
  	font-weight: 400;
  	color: #323232;
}
.call {
	font-size: 22px;
  	line-height: 24px;
  	font-weight: bold;
  	color: #ffffff; 
	
	width: 170px;
	text-align: right;
}
.call span:first-child {
	font-size: 14px;
  	line-height: 16px;
}

.button:not(.form-button) {
	font-size: 18px;
  	line-height: 24px;
  	font-weight: bold;
  	color: #ffffff;
	text-align: center; 

  	background-image: linear-gradient(to bottom, #f26843 , #e74b36);
}
.breadcrumbs {
	font-size: 14px;
  	line-height: 16px;
  	font-weight: 400;
  	color: #ffffff;
}
.legend {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	font-weight: medium;
}
.form-item {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: medium;

	background-color: #9db1a5;
}

.form-button {
	border: 2px solid #fbfcfb;
	background-color: #9cb0a4;
}
.form-button:hover,
.form-button:focus {
	color: #323232;
	background-color: #fbfcfb;
}
.form-button:active {
	background-color: #eaeaea;
}
.stock {
	font-size: 18px;
  	line-height: 22px;
  	font-weight: bold;
  	color: #ffffff;
	text-align: center;/* Временно */
}
.stock h3 {
	font-size: 35px;
  	line-height: 41px;
  	font-weight: bold;
  	color: #ffffff;
}
.stock-jam {
	width: 560px;
	min-height: 230px;
	background: #772b3b url(../img/raspberries-background.jpg) no-repeat;
}
.stock-topping {
	width: 560px;
	min-height: 230px;
	background: #772b3b url(../img/chocolade-background.jpg) no-repeat;
}
.catalog {
	font-size: 16px;
  	line-height: 22px;
  	font-weight: bold;
  	color: #ffffff;
  	text-align: center;
}
.catalog b {
	font-size: 45px;
  	line-height: 45px;
  	font-weight: bold;
  	color: #ffffff;
}
.catalog a{
	text-decoration: underline;
}
.catalog small {
	font-size: 30px;
  	line-height: 45px;
  	font-weight: bold;
  	color: #ffffff;
}
.features b {
	font-size: 24px;
  	line-height: 30px;
  	font-weight: medium;
  	color: #323232;
}
.features {
	padding: 25px 20px;

	font-size: 16px;
  	line-height: 22px;
  	font-weight: 400;
  	color: #323232;

  	background: #e4d8bd url(../img/wafer-pattern.jpg) repeat;
}
.blog {
	width: 560px;
	min-height: 220px;
	padding: 25px 20px;

	background: #ffffff url(../img/strawberry-background.jpg) no-repeat;
}
.blog h3 {
	font-size: 16px;
  	line-height: 22px;
  	font-weight: medium;
  	color: #323232;
}
.blog a {
	font-size: 24px;
  	line-height: 30px;
  	font-weight: bold;
  	color: #323232;

  	text-decoration: underline;
}
.blog a:hover,
.blog a:focus,
.blog a:active {
	color: #e84d37;
}
.subscription {
	width: 560px;
	min-height: 220px;

	background-image: repeating-linear-gradient(135deg, #f8f7f4 0, #f8f7f4 5px, #92cdff 5px, #92cdff 10px, #f8f7f4 10px, #f8f7f4 15px, #fe9e90 15px, #fe9e90 20px);
}
.main-map {
	width: 1200px;
	height: 430px;
	
	background: #e9e3cb url(../img/map.jpg) no-repeat;
}
.call-feedback {
	width: 303px;
	height: 306px;

	font-size: 14px;
  	line-height: 20px;
  	font-weight: 400;
  	color: #323232;

	background-color: #fcfcfc;
}
.call-feedback p:nth-of-type(2n) {
	font-size: 18px;
  	line-height: 24px;
  	font-weight: bold;
  	color: #323232;
}
.main-footer {
	font-size: 12px;
  	line-height: 18px;
  	font-weight: 400;
  	color: #ffffff;
}
.documentation-list {
	font-size: 13px;
  	line-height: 18px;
  	font-weight: 400;
  	color: #ffffff;
}
.documentation-list li:first-of-type {
	font-weight: bold;
}
.modal-feedback {
	font-size: 16px;
  	line-height: 24px;
  	font-weight: 400;
  	color: #999999;
}
.modal-feedback h3 {
	font-size: 24px;
  	line-height: 28px;
  	font-weight: medium;
  	color: #323232;
}
.pagination-list {
	font-size: 16px;
  	line-height: 18px;
  	font-weight: medium;
  	color: #ffffff;
}
.pagination-item-current a {
	color: #323232;
	background-color: #ffffff;
}
.pagination-item:hover,
.pagination-item:focus {
	color: #ffffff;
	background-color: #99aea2;
}
.pagination-item:active {
	color: #323232;
	background-color: #ffffff;
}
.main-navigation input,
.subscription input,
.modal-feedback input,
.modal-feedback textarea {
	background-color: transparent;
  	border: 1px solid #d3d3d2;
}
.main-navigation input:hover,
.subscription input:hover,
.modal-feedback input:hover,
.modal-feedback textarea:hover {
  	border: 2px solid #c7c6c5;
}
.main-navigation input:focus,
.subscription input:focus,
.modal-feedback input:focus,
.modal-feedback textarea:focus {
  	border: 2px solid #8fbdec;
}

/*
.social-button {
	width: 32px;
	height: 32px;
	margin-right: 15px;
}
*/
.social-button a {
	font-size: 10;
}
.documentation-list a,
.copyright a {
	text-decoration: underline;
}
.documentation-list a:hover,
.documentation-list a:focus,
.copyright a:hover,
.copyright a:focus {
	color: #ffbc9e;
}



/* На время, мне так проще сетки строить */

.visually-hidden {
	display: none;
}
.site-navigation a {
	text-decoration: underline;
}
.site-navigation ul {
	display: none;
}
.search form {
	display: none;
}
.enter form {
	display: none;
}
.user-navigation-item a:first-child {
	text-decoration: none;
}
.modal {
	display: none;
}
.basket-modal {
	display: none;
}




/* Сетки */
.container { 
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
}
.main-navigation {
	display: flex;
	justify-content: flex-start;
	padding: 10px 0;
}
.main-nav-logo {
	width: 154px;
	height: 64px;
	margin-right: 10px; 
}
.site-navigation {
	flex-grow: 1;

	display: flex;
	width: 385px;
	height: 20px;
	justify-content: flex-start;
	align-items: flex-end; 

	padding: 10px; 
}
.user-navigation {
	display: flex;
	justify-content: space-around;
	align-items: center;

	margin: 10px 0;
	
	width: 267px;
	height: 35px;
}
.breadcrumbs {
	display: flex;
}
.stock {
	display: flex;
	justify-content: space-between;
}
.filters {
	width: 879px;
	height: 135px;
}
.filters-form {
	display: flex;
	flex-wrap: wrap;
}
.catalog ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 30px 0;
	padding: 0;
}
.catalog li {
	width: 267px;
}
.blocks {
	display: flex;
	justify-content: space-between;
	margin-top: 40px
}
.main-map {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 40px;

}
.pagination-list {
	display: flex;
}
.main-footer .container {
	display: flex;
	justify-content: space-between;

	margin-top: 30px;
}
.social-list {
	padding: 0;

	display: flex;
}
.documentation-list {
	width: 560px;
	height: 50px;
	padding: 0;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}